    <div class="container-fluid" id="donatePage">
    <!-- About Section -->
    <div class="container" id="aboutContainer">
        <div class="row text-center" data-aos="fade-up-right" id="missionRow">
            <div class="col-md-12 text-center" id="missionDiv">
                <h1 id="aboutPageh1">Buy us a Pizza!</h1>
                <div class="photo-url"> <img src="https://78.media.tumblr.com/78a1a8f898f1e52a50cb921b66d8090f/tumblr_o3bvwf143Y1qcavg2o1_500.gif" alt=""> </div>

                <h2 id="aboutPageh1">Donate Munchie Money</h2>
                 <form action="/pay" method="POST">
                <input type="submit" value="Donate"> 
                </form>
            </div>
        </div>