<div class="container-fluid" id="aboutPage">
    <!-- About Section -->
    <div class="container" id="aboutContainer">
        <div class="row text-center" data-aos="fade-up-right" id="missionRow">
            <div class="col-md-12 text-center" id="missionDiv">
                <h1 id="aboutPageh1">Thank You for the Pizza!</h1>
                <div class="photo-url"> 
                    <a href="/"> 
                    <img src="https://media1.tenor.com/images/b91a7f82f885a750ef6174d155f254fe/tenor.gif?itemid=3570327" alt="I love Pizza!"> </div>
                    </a>
                </p>
            </div>
        </div>


    